<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Data Type</th>
      <th scope="col">Value</th>
      <th scope="col">User</th>
      <th scope='col'>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @user.user_infos.each_with_index do |user,index| %>
      <tr>
        <td scope="row"><%= index+1%></td>
        <td>
          <%= user.data_type %>
        </td>
        <td><%= user.value %>
        </td>
        <td><%= user.user.name %></td>
        <td>
          <%= link_to 'Edit', edit_user_path(user) %>
          <%#= link_to 'Destroy', delete_user_info(user.id),remote:true, data: { confirm: 'Are you sure?' } %>      
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function() {
    $(".best_in_place").best_in_place();
  });
</script>