<%= form_with(model: @user, remote: true, :html => { :multipart => true }) do |form| %>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">First Name</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">First Name</div>
        </div>
        <%= form.text_field :first_name, class: "form-control",id: "inlineFormInputGroup" %>
      </div>
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">Last Name</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Last Name</div>
        </div>
        <%= form.text_field :last_name, class: "form-control",id: "inlineFormInputGroup" %>
      </div>
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">Email</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">role</div>
        </div>
        <%= form.text_field :email, class: "form-control",id: "inlineFormInputGroup" %>
      </div>
    </div>
    <div class="col-auto">
      <div class="form-check mb-2">
        <label class="form-check-label" for="autoSizingCheck">
          Role
        </label>
        <%= form.select(:role_id, Role.active.collect {|u| [u.name, u.id]}, :prompt => 'Select') %>
        <%#form.select(:, "role_id", Role.all.collect {|p| [ p.name, p.id ] }, { include_blank: true })%>
      </div>
    </div>
    <%= form.file_field :photos %>
    <div class="col-auto">
      <%= form.submit class:"btn btn-primary mb-2"%> 
    </div>
  </div>
<%end%>

<div class="user-list">
  <%=render 'form' %>
</div>






